    .toggle-password-icon{position: absolute;
        right: 15px;
        /* top: 50%; */
        transform: translateY(66%);
        cursor: pointer;
        color: rgb(102, 102, 102);
    }
    .form-label-group{
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }
    .form-group-checbox{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .login-right .social-login-btn .btn {
        font-weight: 500;
        font-size: 16px;
        color: #465D7C;
        background: #FFF;
        border: 1px solid #E6E8EE;
        padding: 9px 15px;
        border-radius: 44px;
        /* -webkit-transition: 0.7s;
        -ms-transition: 0.7s; */
        transition: 0.7s all ease !important; 
            display: flex;
    align-items: center;
    justify-content: center;
    }
    .login-right .social-login-btn .btn + .btn {
        margin-top: 16px;
    }
    .login-header h3 {
        font-size: 18px;
        margin-bottom: 3px;
    }
    .login-right {
        background-color: #FFF;
        border: 1px solid #E6E8EE;
        border-radius: 10px;
        padding: 24px;
        display: grid;
    }
    .login-right .dc-btn {border-radius: 43px; margin:10px 0; }
    .login-right .btn { box-shadow: none; }
 .login-or {
    display: math;
    text-align: center;
    margin: 20px 0;
    padding: 0 45%;
}

.or-line {
  position: absolute;
  /* top: 50%; */
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #E6E8EE;
  transform: translateY(15px);
  z-index: 1;
}

.span-or {
  position: relative;
  background-color: #FFF;
  padding: 0 10px;
  z-index: 2;
  color: #465D7C;
  font-weight: 500;
}

.login-right .social-login-btn .btn svg
 {
    margin-right: 8px;
    font-size: 20px;
}
.login-right .social-login-btn .btn:hover {
    color: #FFF;
    background: var(--bluecolor);
}
.login-right .pass-group .form-group{
    padding-top: 0;
}


.login-right .dc-checkbox , .login-right .dc-checkbox label {
    max-width: fit-content;
}
.social-login-btn{margin-top: 15px;}
.login-right .account-signup {
    margin-top: 20px;
    text-align: center;
}
.login-right .account-signup p 
{
    margin: 0;
    font-size: 15px;
    color: #465D7C;
    font-family: "Inter", sans-serif;
}
.login-right .dc-checkbox {
    color: var(--text-sub);
    font-family: "Inter", sans-serif;
    font-size: 14px;
}
.login-header .login-logo { color:var(--secthemecolor) }
.account-signup p a,.account-signup p a:hover{
    font-weight: 500;
    color: #0E82FD;
    text-decoration: none;
}
@media (max-width: 991.98px) {
    .login-left {
        display: none;
    }
}
.login-container{
    margin: 15px 40px;
}