
.Card-icons{
color: var(--themecolor);
}
.card{
  margin: 10px 0 ;
  box-shadow: 0 6px 16px 2px var(--scshadocolor);
  border-radius: 61px;

}
.table > tbody > tr > td{ 
border: none;
border-bottom: 1px solid #dee2e670 !important;
}


.PatientsTable ,.PatientsFilters{
  border: none !important;
  background: var(--cardcolor) !important;
  box-shadow: 0px 0px 9px 2px var(--shadocolor);
  border-radius:6px !important
}
.cont-img-name{
  margin-right: 25px;
}
.cont-img-name img{

  margin-right: 8px;
}
:root{--headcolor:#f8f9fa; }
.table > thead:first-child > tr:first-child > th{
      background: var(--headcolor);
      /* border-color: var(--lencolor) !important; */
      border-color: #e5e5e58a !important;
}

.btn{
  font-weight: normal !important;
}
.dc-tabscontenttitle-delete-before::before{
  display: none;
  background-color: transparent !important;
}
.patientTable .btn-outline-primary,.btn-outline-secondary{
  border: none !important;
  box-shadow: none;
  margin: 2px;
  background-color: #0000ff08 !important;

}
.patientTable .btn-outline-primary{
 
    color: #007bff;
    /* background-color: #0000ff08 !important; */
    width: 40px;
    border-color: #007bff;
    height: 35px;
    padding: 4px !important;
    
    
}
.patientTable .btn-outline-secondary{
    height: 35px;
    width: 40px;
  /* background-color: #0000000f !important; */
    padding: 4px !important;

}
.patientTable .btn-outline-secondary:hover{
  background-color: #6c757d !important;
}
.patientTable .btn-outline-primary:hover{
      background-color: #007bff !important;
}
.table-hover tbody tr:hover{
  background-color: rgba(207, 207, 207, 0.075) !important;
}
.PatientsFiltersBtn.btn.btn-outline-secondary{
  border: 1px solid #ddd !important;
  margin-right: 0 !important;
}

.search-input-wrapper {
  position: relative;
  width: 100%;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
  z-index: 2;
  font-size: 16px;
}

.search-input {
  padding-left: 35px; 
}

.view-btn:hover .num-item{
  background:#f8f9fa !important;
}

.num-item{
    padding: 1px 8px;
    color: #012047;
    font-weight: 500;
    border-radius: 30px;
    border: 1px solid #E6E8EE;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin-left: 4px;
}