.dc-postedsilder {
  position: relative;

  .item {
    padding: 10px;
  }

  .dc-postedsilderitem {
        align-items: center;
    display: flex;
    background: #fafafa;
    /* border-radius: 4px; */
    text-align: center;
    padding: 15px;
    /* transition: all 0.3s ease-in-out; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); */
    flex-direction: column;

    &:hover {
      box-shadow: 0 0 15px var(--shadocolor);
    }

    .dc-consultation-img {
      // margin-bottom: 10px;
    }

    .dc-consultation-title {
      h5 {
        // font-size: 16px;
        // font-weight: 600;
        margin: 0;
        display: flex;
    gap: 10px;
    justify-content: center;
        a {

          text-decoration: none;
          display: block;
        }
        em {
          display: block;
          font-style: normal;
          color: #999;
          font-size: 14px;
        }
      }
    }
  }

  // 
  .custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    color: #333;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 5;
    transition: background 0.3s;

    &:hover {
      background: var(--secthemecolor);
      color: #fff;
    }

    &.prev {
      left: -15px;
    }

    &.next {
      right: -15px;
    }
  }
}
.consultation-item {
display: flex;
    align-items: center;

}

.consultation-item .left {
  display: flex;
  align-items: center;
  // gap: 10px; 
}

.dc-consultation-img {
  margin: 0;
}
.consultation-item h6{
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}
.consultation-item em  {
      display: block;
    font-style: normal;
    color: #999;
    font-size: 14px;
    font-weight: 400;
}