.dc-dashboardboxtitle {




  .dc-tag.dc-widgettag {

    a {
      font-size: 14px;
      color: #767676;
      text-decoration: none;
      // padding: 5px 12px;
      border-radius: 20px;;
      transition: all 0.3s ease;

      &:hover {
        background-color:var(--secthemecolor);
      }

      &.dc-tagactive {
        background-color: var(--secthemecolor);
        color: #fff;
      }
    }
  }
}
