.dc-dashboardboxtitle {




  .dc-tag.dc-widgettag {

    a {
      font-size: 14px;
      color: #999;
      text-decoration: none;
      padding: 5px 12px;
      border-radius: 8px;;
      transition: all 0.3s ease;

      &:hover {
        background-color:var(--themecolor);
      }

      &.dc-tagactive {
        background-color: #007bff;
        color: #fff;
      }
    }
  }
}
