@media (max-width: 1680px) {
    .dc-companysinfo {
        padding: 0;
      margin-left: 0px !important; 
    }
    .collapsed .dc-companysinfo{
      margin-left: 100px !important; 
      transition: all 0.3s ease;
    }
}



.dc-btnmenutoggle {
  // padding: 10px;
  // cursor: pointer;
  // text-align: right;

  .icon {
    font-size: 18px;
    transition: transform 0.3s;
  }

  .rotate-180 {
    transform: rotate(180deg);
  }
}

.dc-verticalscrollbar {
  padding: 0px;
}

.dc-navdashboard ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    a,
    .dropdown-toggle {
      display: flex;
      align-items: center;
      padding: 10px;
      color: #333;
      text-decoration: none;
      transition: background 0.3s;

      &:hover {
        background: #f7f7f7;
      }

      .icon {

        color:#767676;
        font-size: 20px;
        margin: 4px;
        margin-right: 20px;

      }
    }
  }
}

.sub-menu {
  padding-left: 20px;

  li {
    a {
      font-size: 14px;
    }
  }
}

.dc-navdashboard-footer {
  text-align: center;
  padding: 15px;
  font-size: 12px;
  color: #888;
}

.dc-btnmenutoggle.sticky {
  top: 20px;
}


.dc-sidebarwrapper {
  width: 260px;
  background: #fff;
  position: fixed ;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y:auto;
   scrollbar-width: none;
  overflow-x: hidden; 
  transition: width 0.3s ease, top 0.3s ease;
  z-index: 1000;

  &.collapsed {
    width: 50px;

    span,
    .dc-title h2 {
      display: none;
    }

    .dropdown-arrow {
      display: none;
    }
  }
}


.dc-btnmenutoggle {
  // position: fixed;
  // top: 20px;      
  // left: 260px;    
  // z-index: 1100;  
  // background: #fff;
  // padding: 1px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

  .icon {
    font-size: 18px;
    transition: transform 0.3s;
  }

  .rotate-180 {
    transform: rotate(180deg);
  }
}

.dc-sidebarwrapper.collapsed + .dc-btnmenutoggle {
  left: 80px; 
}
@media (max-width: 668px) {
 .dc-sidebarwrapper  {
    margin-top: 68px;
  }
}

.scrolled-sidebar.dc-sidebarwrapper{
  padding: 0 !important;
  margin: 0 !important;
}
.scrolled-sidebar .dc-btnmenutoggle{ top: 20px; }
