

/* page not found */
.page-not-found {
  height: 100vh;
}
.page-not-found .content-container{
  padding: 0 35px;
  display: flex;
  flex-direction: row;
}
.page-not-found .text-content{
      margin: auto;
}
.page-not-found img{max-width: 50%; max-height: 100vh;}

.error-box {
  display: inline-block;
  padding: 12px 30px;
  border: 3px solid #f5b5b5;
  border-radius: 14px;
  background: #fff5f5;
  font-size: 30px;
  font-weight: 700;
  color: #000;
}