.dropdown-toggle::after{display: none !important;}
.notification-button{
        text-emphasis: open !important;
    border-radius: 50% !important;
    font-size: large !important;
    color: var(--terthemecolor) !important;
    background: rgb(249, 249, 249) !important;
  
}
.br50 {
    border-radius: 50% !important;
}
.noti-nav.active-dot.active-dot-danger::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  top: 0px;
  background: #FF0000;
}
header.inner-header .header-nav .header-navbar-rht li.noti-nav > a.active-dot::before { content: ""; width: 7px; height: 7px; border-radius: 50%; position: absolute; right: -2px; top: -2px; }
 *, ::after, ::before { box-sizing: border-box; }
 .header .header-nav .header-navbar-rht .noti-nav .nav-link { font-size: 18px; color: #6B7280; }
 .dropdown-menu-end.list-date-option.open:after, .dropdown-menu-end.list-date-option.open:before {right: 10px;left: unset !important;}
 .dropdown-menu-end.list-date-option.open:before{right: 9px !important;}
 .dropdown-menu.open { top: 200px !important; transform-box: content-box}
 .dropdown-menu.show {
  top: 0px !important;
  overflow:visible !important;
    transition: .5s all ease ,padding .6s ease ; 
    max-height: 1000px !important;
    opacity: 1 !important;
    padding: 10px;
    transform: translate(0px, 32.2222px) !important;
}
.dropdown-menu-end.list-date-option.open:after, .dropdown-menu-end.list-date-option.open:before{border-bottom-color: var(--cardcolor);}
.dropdown-menu-end.list-date-option.open:before{border-bottom-color: #ccc;}
.dropdown-menu-end.list-date-option.open:after{top:-5px}